{% extends "base.html" %}
{% block title %}Add Advertisement{% endblock %}
{% block head %}Add Advertisement{% endblock %}
{% block content %}
    <div>
        <form action="/advertisement/add/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <input id="advertisement_submit_btn" value="Submit" type="submit" >
        </form>
    </div>
{% endblock %}