{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Add Advertisement{% endblock %}
{% block head %}Successfully Added New Advertisement{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-12" role="main">
                <div class="">
                    <div>
                        <h3 id="item_name_header">{{ad.name}}</h3>
                        {% include "advertisement/show_details.html" %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}