{% load staticfiles %}
by <span id="ad_user">{{ ad.user }}</span><br/>
Posted <span id="item_post_date">{{ ad.posting_date|timesince }}</span> ago<br/>
Available, <span id="item_quantity">{{ad.quantity}} stock{{ad.quantity | pluralize}}</span> left
<br />
<br />
<div class="row">
    <div class="col-lg-3 alert alert-info">
        Contact: <span id="ad_contact">{{ad.contact}}</span>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-lg-6">
        <table class="table table-striped">
            <tr><td>Item</td><td id="item_name_value">{{ ad.name }}</td></tr>
            <tr><td>Used</td><td id="item_used_value">{{ ad.is_used|yesno:"Yes, No"|title }}</td></tr>
            <tr><td>Price</td><td id="item_price_value">PHP {{ ad.price }}, {% if not ad.price_negotiable %} not {% endif %}negotiable</td></tr>
            <tr><td>Category</td><td id="item_category_value">{{ ad.category }}</td></tr>
            <tr><td>Item Description</td><td id="item_description_value">{{ ad.description|linebreaks }}</td></tr>
        </table>
    </div>

    <div class="col-lg-6">
        <center>
        <div id="ad-photos" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for photo in ad.photos %}
                    {% if forloop.first %}
                        <li data-target="#ad-photos" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#ad-photos" data-slide-to="{{forloop.counter0}}" class="active"></li>
                    {% endif %}
                {%endfor%}
            </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
                {% for photo in ad.photos %}
                    {% if forloop.first %}
                        <div class="item active">
                            <center><img src="{% static 'images/' %}{{ ad.id }}/{{photo }}" alt="{{ ad.item_name }}" height="300" width="300"/></center>
                        </div>
                    {% else %}
                        <div class="item">
                            <center><img src="{% static 'images/' %}{{ ad.id }}/{{ photo }}" alt="{{ ad.item_name }}" height="300" width="300"/></center>
                        </div>
                    {% endif %}
                
                {% endfor %}
              
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#ad-photos" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#ad-photos" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </center>
    </div>
</div>


