{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Advertisements for Approval</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

</head>
<body>
    <div class="container">
        <div class="col-lg-12" role="main">
            <h1>Advertisements for Approval</h1>
        <div>
            {% if for_approval|length > 0 %}
                <table id="approval_list_table">
                {% for ad in for_approval %}
                    <tr><td><a href="/administration/for_approval/show/{{ ad.id }}">{{ ad.name }}</a></td></tr>
                {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-success">Congratulations! All pending advertisements were already processed.</div>
            {% endif %}
            
            {% if success_approve %}
                <div class="alert alert-success">Success! The advertisement is now approved and is now visible on the site.</div>
            {% elif reject_approve %}
                <div class="alert alert-success">Success! The advertisement posting has been rejected.</div>
            {% endif %}

        </div>
    </div>
</body>
</html>