{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Approve an Advertisement</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

    <style>
      #ad-photos{
        height:300px;
        width:300px;
      }
      
      .carousel-control.right{
        background-image: None;
      }

      .carousel-control.left{
        background-image: None;
      }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-lg-12" role="main">
                
                  <h1>Approve an Advertisement</h1>
                  <div>
                      <h3 id="item_name_header">{{ad.item_name}}</h3>
                      {% include "advertisement/show_details.html" %}  
                      <form action="/administration/approve/" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="ad_id" value="{{ ad.id }}">
                          <input type="submit" name="action" class="btn btn-lg btn-success" value="Approve">
                          <input type="submit" name="action" class="btn btn-lg btn-danger" value="Reject">
                      </form>
                  </div>
            
        </div>
    </div>
  
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>    
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>